*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    min-height: 100vh;
   
    background-image: linear-gradient(to right , rgba(0, 26, 255, 0.197) , rgba(0, 0, 255, 0.17)),url("https://t4.ftcdn.net/jpg/06/76/92/39/360_F_676923915_Q1RDnjyTxW9IeEdybJk1FF1SeURzI3eg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.left-div{
    overflow: hidden;
    color: yellow;
    width: 100%;
    max-width: 85rem;
    height: 100%;
    padding: 1rem;
    /* background-color: aqua; */
}

.left-div h1{
    /* background-color: red; */
    text-align: center;
    font-size: 2.5rem;
}

form{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

#form-input{
    color: chartreuse;
    width: 50%;
    font-size: 2rem;
    font-weight: bold;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 0.2rem solid red;
    padding: 0.2rem 0.4rem;
    padding-bottom: 0.5rem;
}

.search-btn{
    margin-left: 2rem;
    font-weight: bold;
     background-image: linear-gradient(to right , red , yellow);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
}

.todo-div{
    width: 100%;
    height: 45rem;
    overflow: hidden;
 
    margin-top: 3rem;
}

.right-div{
    width: 100%;
    max-width: 45rem;
    height: 100%;
    /* background-color: aqua; */
    padding: 1rem;
    color: yellow;
    /* background-color: red; */
    }

.right-div h1{
font-size: 4rem;

}

.maximum-tasks{
width: 80%;
margin-left: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: green; */
    padding: 2rem;
}

.maximum-task{
    color: red;
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    border-radius: 50%;
    background-color: rgb(9, 9, 101);
    box-shadow: 0 0 0 0.4rem blue;
    /* background-color: red; */
}

.progress-div{
    width: 100%;
    height: 40rem;
    padding: 1rem;
    background-color: rgba(0, 0, 255, 0.537);
}

.progress-div h2{
    /* background-color: red; */
    text-align: center;
    color: rgb(0, 255, 0);
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    font-size: 2.5rem;
    text-decoration-color: red;
}

.progress{
    margin-top: 5rem;
    width: 100%;
    border-radius: 0.5rem;
    height: 1rem;
    background-color: rgba(255, 0, 0, 0.476);
}

.progress-range{
        width: 0%;
    height: 100%;
    background-color: black;
    border-radius: 0.5rem;
    transition: all 0.2s linear;
}

.todo-div{
    /* background-color: black; */
    padding: 1rem;
}

.list{
    padding: 1rem;
    width: 100%;
     background-color: rgba(255, 255, 255, 0.176);
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-block: 1rem;
     border-radius: 1.8rem;
}

.todo-input{
    font-size: 2rem;
    color: greenyellow;
   
    background: transparent;
    font-weight: bold;
    border: none;
    outline: none;
    margin-left: 2rem;
    width: 70%;
}

.list-btn{
     margin-left: 2rem;
}

.list-btn button{
    margin-inline: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    background-image: linear-gradient(to right , red , yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.checkbox{
    -webkit-appearance: none;
    width: 1.8rem;
    height: 1.8rem;
    border: none;
    outline: none;
    /* background-color: red; */
    border-radius: 50%;
    border: 0.3rem solid black;
}

.checkbox:checked{
    background-color: rgba(0, 255, 0, 0.642);
}

.cross{
    text-decoration:line-through;
    text-decoration-color: red;
    text-decoration-thickness: 0.3rem;
}

button{
     transition: all 0.3s ease;
}

button:active{
    opacity: 0.4;
}

.box-shadow{
    box-shadow: 0 0 2rem 1rem red;
}

 @media (max-width:768px){

    body{
        height: auto;
        min-height: 100vh;
    }

    main{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .left-div,
    .right-div{
        height: auto;
    }
}